/*MAPA DE VALORES RESPONSIVES*/
$breakpoints: (
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1400px
);

/*variables para los colores*/
$color-principal: #cdac6a;
$color-nav: #f9c83f;
$blanco: #fff;

/*Fuente de google quicksand*/
$quicksand: 'Quicksand', sans-serif;